
.portBody{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	animation-name: inicio;
    animation-duration: 6s;
}

.portTitulo {
    text-align: center;
    font-size: 400%;
    font-weight: 600;
    color: #33658A;
    margin:1% 0 0 0;
    animation-name: textoInicio;
    animation-duration: 3s;
}

.portContainerCarrossel{
   position: relative;
   border-top:1px solid rgba(255,255, 255, 0.1);
   width:90%; 
   left:5%;
   padding-top: 10px;
}

#palavraDest{
    position: absolute;
    left:12%;
    top:3%;
    font-size: 130%;
    color: #F6AE2D;
    animation-name: textoInicio;
    animation-duration: 3s;
}

.portCarrosselDest{  
	position:absolute;
	text-align: center;
	font-size: 250%;
    color: white;
    width:20%;
}

.portCarrosselInfo{
    background-color: #33658A;
    border:2px solid white !important;
    opacity: 1;
    position:absolute;
    width:50%;
    color: #F6AE2D;
    font-size: 110%;
    text-transform: uppercase; /*Letra maiuscula*/
    top: 80%;
    left:25%;
    margin-bottom:2%;
    text-align: center; 
}

.portCarrossel{
    width:70%;
	margin-bottom:1%;
}

.portCarrosselImg{
	width:100%;
	height:450px;
	border: 2px solid rgba(51, 100, 138, 0.65);  /*#f26419*/
}

.portFiltro{
    position:relative;
    border-top:1px solid rgba(255,255, 255, 0.1);
    width:90%;
}

.portFiltroBusca{;
    width:30%;
    left:50%;
}

.portFiltroBuscaBotao{ 
    position:absolute;
    background-color: #33658A;
    border:2px solid white !important;
    color: #F6AE2D;
    font-size: 110%;
    top:100%;
    left:31%;
    top:0%;
}

.portFiltroDrop{
    left:19%;
    position:absolute;
    top:-5%;
}


.portContainerCards{
	position: relative;
	width:90%;
	margin:auto;
    margin-top:2%;
    margin-bottom: 3%;
    border-top:1px solid rgba(255,255, 255, 0.1);
}

.portCard {
    margin:1% 0 0.25% -0; 
    position:relative;
}

.portCardImg {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(51, 100, 138, 0.65); /*#33648a*/
}

.portDestaque {
    position: absolute;
    top: 0%;
    left: 3.5%;
    height: 100%;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d434e;
    border: 2px solid rgba(242, 100, 25, 1);
 
}

.portCardNomePeca{
    position: absolute;
    color:white;
    top:3%;
    left:30%;
    font-size:150%;
    font-weight: 500;
    text-align: center;
    opacity:0;
}

.portCardInfo { 
    background-color: rgba(0,0,0,0);
    border:2px solid white !important;
    opacity: 0;
    position: absolute;
    width:30%;
    color: #F6AE2D;
    font-size: 110%;
    text-transform: uppercase; /*Letra maiuscula*/
    top: 80%;
    left:35%;
    margin-bottom:2%;
    text-align: center; 
}
 
.portModal{
    background-image: linear-gradient(to right, #1d434e, #1d434e, #86BBD8) !important;
    color:white !important;
}

.portModalHead{
    border-bottom: 2px solid #F6AE2D !important;
    text-transform: uppercase !important;
}

.portModalBody{
    background-color: white;
    color:black;
    text-align:center;
    font-size:110%;
}

.portModalFooter{
    border-top: 2px solid #F6AE2D !important;
}


.portCarrossel:hover .portCarrosselImg{
	border:2px solid rgba(242, 100, 25, 1);
}

.portCard:hover .portDestaque{
    opacity: 0.8; 
}

.portCard:hover .portCardNomePeca{
    opacity: 1; 
}

.portCard:hover .portCardInfo{
    opacity: 1; 
}


@keyframes inicio {
    0%{opacity: 0}
    50% {opacity: 0.6}
    100%{opacity: 1;}
}

@keyframes textoInicio {
    0% {transform: translate(12%, 0%)}
    100%{transform: translate(0%, 0%)}
}

@media screen and (max-width: 800px) {

    .portTitulo{
        font-size: 400%;
    }

    #palavraDest{
    left:38%;
    top:3%;
    font-size: 130%;
    }

    .portCarrosselDest{  
    margin-left:6%;
    font-size: 100%;
    width:20%;
    }

    .portCarrosselInfo{
    width:50%;
    font-size: 110%;
    top:100%;
    left:25%;
    margin-bottom:50%;
    text-align: center; 
    }

    .portCarrossel{
        left:4.5%;
    }

    .portContainerCards{
        width:85%;
    }

    .portDestaque {
        width: 92.5%;
    }

    .portCarrossel{
        width:90%;
        margin-bottom:20%;
    }


}