.portBody{
	background-image:url(../imgs/teatro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
 }

 .parallax1 {
    background-image: url(../imgs/teatro1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.parallax1 h1 {
    font-size: 72px;
    color: white;
}

.parallax1 p {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.conteudo {
    padding: 15%;
    position: relative;
    opacity: 0;
}

.acao {
    opacity: 1;
    animation-name: texto-parallax;
    animation-duration: 1s;
    text-align: center;
}

.navFont {
    font-size: 30px;
    animation-name: navbar-top;
    animation-duration: 1.5s;
}

.navFont a {
    color: white !important;
}

.navFont a:hover {
    color: #F6AE2D !important;
}

.linkLogin {
    position: relative;
    padding: 10px;
    border-radius: 30%;
    text-align: center;
    background: transparent;
    border: 0;
    right: 0;
    color: white;
}

.navbar-color {
    position: relative;
    background: transparent;
    width: 100%;
}

.titulo-modal {
    background-color: #F6AE2D;
    padding-left: 40%;
}

.titulo-modal h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.fechar {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 48px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Relaway', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba (0, 0, 0, .3);
}

.modal-body {
    padding: 7%;
}

@keyframes navbar-top {
    0% {
        opacity: 0;
        margin-left: 10%;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

.botaoModal {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background: #F6AE2D;
    border: none;
    margin: 0 auto;
    display: block;
}

.botaoModal:hover {
    color: black;
    background: #F6AE2D !important;
    outline: none;
    border: none;
}

.botaoModal:focus {
    color: black;
    background: #F26419 !important;
    outline: none;
    border: none;
}

.botaoModal:active {
    color: black;
    background: #F26419 !important;
    outline: none;
    border: none;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.modal.fade {
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes texto-parallax {
    0% {
        opacity: 0;
        transform: translate(100px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.contatoBotao {
    text-align: center !important;
    background: transparent;
    border: none !important;
    color: white;
}

.contatoBotao:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important; 
}

.contHead {
    background-color: #F6AE2D;
}

.contTitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    text-transform: uppercase; 
    margin-left:16%;
}

.botoesContModal{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
}

.botaoEnviar{
    color: white;
    background: #F6AE2D !important;
    border: none;
}

.botaoEnviar:hover{
    color: black;
    background: #F6AE2D !important;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7) !important;  
}

.botaoEnviar:focus,.botaoEnviar:active  {
    color: black;
    background: #F26419 !important;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7) !important;
}

/*-------------------------------------------------------STYLE PORTFOLIO MESMO-----------------------------------------------------*/

.portCarrosselImg{
	width:100%;
	height:450px;
	border: 2px solid rgba(51, 100, 138, 0.65);  /*#f26419*/
}

.portCarrosselLado{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
}

.portCarrosselTexto{
	margin:0 auto;
	text-align: center;
}

.portCarrosselTexto h2{
	color:#F6AE2D;
	text-align: center;
}

.portCarrosselTexto h3{
	color:white;
}

.portCarrosselBotao{
	margin:0 auto;
	color:white;
	background: #F6AE2D;
}

.portCarrosselBotao:hover{
    color: black;
    background: #F6AE2D;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7);  
}

.portCarrosselBotao:focus,.portCarrosselBotao:active  {
    color: black;
    background: #F26419;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7);
}


.portPesquisa{
	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	border-top:1px solid rgba(255,255,255,0.3) ;
	padding-top: 2%;
}

.portPesquisaBotao{
	background-color: #F6AE2D;
	color:white;
	margin:5px auto;
}

.portPesquisaBotao:hover{
    color: black;
    background: #F6AE2D;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7);  
}

.portPesquisaBotao:focus,.portPesquisaBotao:active {
    color: black;
    background: #F26419;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(246,174,45,0.7);
}

/* ----------------------------------------------Card-------------------------------------------------- */
.portVariosCards{
    border-top:1px solid rgba(255,255,255,0.3);
}

.portCard{
    margin:3% 0 0 0;
}
.portCardImg{
    width:100%;
    height:100%;
}

.portSpan{
    background-color: red;
    width:100%;
    height:100%;
}

