 html,

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.titulo-imagem {
    text-align: center;
}

.titulo-imagem h1{
    font-size: 60px;
    font-weight: 600;
    color: #33658A;

    animation-name: deslize;
    animation-duration: 3s;
}

.titulo-imagem h2{
    font-size: 42px;
    font-weight: 700;
    color: #33658A;

    animation-name: deslize;
    animation-duration: 3s;
}

.texto {
    text-align: justify;
    color: black;
    font-weight: 300;
    font-size: 24px;

    animation-name: fade;
    animation-duration: 4s;
}

.main {
    margin-top: 9%;
    margin-bottom: 9%;
}

.fotos {
    border: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.container-fotos {
    width: 50%;
    margin-bottom: 1%;
    margin-top: 2%;

    animation-name: fade;
    animation-duration: 6s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 96.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d434e;
    margin-right: -3.5%;
}

.container-fotos:hover .overlay {
    opacity: 0.8;
}

.text-card {
    color: #F6AE2D;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-card-info {
    color: white;
    font-size: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes fade {
    0%{opacity: 0}
    50% {opacity: 0.6}
    100%{opacity: 1;}
}

@keyframes deslize {
    0% {transform: translate(50px, 0px)}
    100%{transform: translate(0px, 0px)}
}

@media screen and (max-width: 800px) {

    .titulo-imagem h1{
        font-size: 28px;
    }

    .titulo-imagem h2{
        font-size: 22px;
    }

    .texto {
        font-size: 18px;
    }

    .container-fotos{
        width: 80%;
    }

    .overlay {
        width: 94.5%;
        height: 100%;
        opacity: 0.62;
    }
      
    .text-card{
        font-size: 16px;
    }

    .text-card-info {
        font-size: 14px;
    }

}
