<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Portfólio</title>
  </head>
  <body class="portBody">
    <nav class="navbar navbar-expand-xl navbar-dark navbar-color">
            <a class="navbar-brand" href="#">
                <img src="imgs/Felipe_Pecas.png" width="200">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <spam class="navbar-toggler-icon"></spam>
        </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav navFont">
                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Início</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Espetáculos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Quem Somos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Contatos</a>

                    </li>

                </ul>
                <div class="navbar-nav ml-auto">
                    <button type="button" class="ml-4 mr-4 align-self-center linkLogin" data-toggle="modal" data-target="#myModal">Login</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header titulo-modal">
                                    <button type="button" class="close fechar" data-dismiss="modal">&#9747;</button>
                                    <h3 class="modal-title">Login</h3>
                                    <hr>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="text" class="form-control" id="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="senha">Senha:</label>
                                            <input type="password" class="form-control" id="senha" required>
                                        </div>
                                        <div class="botao" tabindex="0">
                                            <button type="submit" class="btn btn-primary botaoModal">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </nav>
  	<h1 class="portTitulo">Portfólio</h1>

    <div class="portContainerCarrossel row">
        <div class="portCarrosselDest col-sm-3">
            <h2 class="palavraDest">Destaque:</h2> 
            <h3 class="nomeDest">Hermanoteu na Terra de  Godah</h3>
            <button type="button" class="portCarrosselInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
        </div>
        <div id="portCarrossel" class=" portCarrossel carousel slide col-sm-9" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="portCarrosselImg" src="imgs/imgCar.png">
                </div>
                <div class="carousel-item">
                    <img class="portCarrosselImg" src="imgs/imgCar2.png">
                </div>
                <div class="carousel-item">
                    <img class="portCarrosselImg" src="imgs/imgCar3.png">
                </div>
      </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#portCarrossel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#portCarrossel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

<div class="portFiltro">
    <form class="form-inline row">
	    <div class="portFiltroBusca col-sm-4">
		    <input class="form-control" type="search" placeholder="Pesquise aqui..." aria-label="Search">
		    <button class=" portFiltroBuscaBotao btn" type="submit">Search</button>
		</div>
  	</form>
</div>


<div class="portContainerCards">
    <div class="row">
            <div class="container portCard col-sm-4">
                <img src="imgs/img1.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
            <div class="container portCard col-sm-4">
                <img src="imgs/img2.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
            <div class="container portCard col-sm-4">
                <img src="imgs/img3.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
            <div class="container portCard col-sm-4">
                <img src="imgs/img4.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
            <div class="container portCard col-sm-4">
                <img src="imgs/img5.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
            <div class="container portCard col-sm-4">
                <img src="imgs/img6.jpg" alt="Peça de teatro" class="portCardImg">
                <div class="portDestaque"></div>
                <div class="portCardNomePeca">Nome da Peça</div>
                <button type="button" class="portCardInfo btn" data-toggle="modal" data-target="#portModal">Saiba Mais</button>
            </div>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="portModal" tabindex="-1" role="dialog" aria-labelledby="portModalTitulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="portModal modal-content">
      <div class="portModalHead modal-header">
        <h5 class="modal-title" id="portModalTitulo">Nome da Peça</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="portModalBody modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id tristique urna. Donec gravida tincidunt sapien sit amet vehicula. Nam lobortis lacus in pretium feugiat. Nam et fringilla orci. Aenean gravida, lorem sit amet ornare lacinia, lacus sapien vulputate massa, non ultrices nunc erat eget odio. Fusce ac augue eu neque rhoncus cursus sed a est. Nunc eu ipsum tortor. Etiam quis eros hendrerit purus congue volutpat. Duis lobortis, velit et luctus porttitor, arcu ligula tincidunt mauris, commodo tincidunt dui tortor ac tellus. Curabitur quis turpis egestas, lobortis risus non, cursus massa. Sed a porta dui.</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
        <div class="copyright">
            <p>@copyright Code Jr</p>
        </div>
        <div class="redes">
            <ul>
                <li>
                    <a href="#"><img src="imgs/facebook.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/instagram.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/twitter.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/youtube.png" width="30"> </a>
                </li>
            </ul>
</div>
    <script src="js/portfolio.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>