html,body {
    margin: 0px;
    padding: 0PX;



}



body {

    background-color: #1d434e;
}
form {
    
    border-radius: 70px;
    background:#86BBD8;
    padding: 10px;
    position: fixed;
    margin-left: 200px;
 
   
}




.navigation { 
    margin-left: 14px;
    font-size: 15px;
    background-color:#86BBD8;
    margin-top: 0;
    margin: 0px;
    padding: 0PX;
    color:#1d434e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}
label {

    display: block;
    padding-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 22px;
    color: #1d434e
    
}

input {

    margin: 14px;
    padding: 12px;
    size: 90px;
    border-radius: 6px;

   
  
}



.content_mensagem, textarea {
   
    padding: 32px;
    border-radius: 6px;
    margin-left: 3px;
    

}    


.content {
    margin: 35px;
    padding: 15px;
    background-color: #86BBD8;
    display: inline-block;
    border-radius: 14px;
    padding-left: 2px;
    padding-right: 2px;
} 


    
.botão {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    padding: 2px;
    cursor: pointer;
    border: #1d434e;
    padding: 10px;
    margin-right: 25px;
    margin-left: 395px;
   
    
   
    
}
    

.botão-azul {    
    background-color: #1d434e;
    box-shadow:0 5 px 0 #0f2b33;
    
}

.botão-azul:hover {   
    background:  #1d434e;
    color: #86BBD8;
    box-shadow: 0 5px 0 #0f2b33;  
}





