html, body{
    font-family: 'Raleway', sans-serif;
}

.navFont{
    font-size:24px;

    animation-name:navbar-top;
    animation-duration:1.5s;
}

.button{
    position:relative;
    background-color: #86BBD8;
    padding:10px;
    border-radius:30px;

    text-align: center;
}

.button a{
    text-decoration: none;
    color:white;
}

.button:hover{
    background-color:#F6AE2D;
    
}

.button-login{
    text-align: center;
}




@keyframes navbar-top{
    0%{
        opacity:0;
        margin-left: 100px;

    }
    100%{
        opacity:1;
        margin-left:0;
    }
}
