html,
body {
    font-family: 'Raleway', sans-serif;
}

.parallax1 {
    background-image: url(../imgs/peca-teatro1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20%;
    text-align: center;
}

.parallax1 h1 {
    font-size: 72px;
}

.parallax1 p {
    font-size: 24px;
}

.info {
    background-image: linear-gradient(#33658A, #86BBD8, #86BBD8, #33658A);
    width: 100%;
    height: auto;
}

.parallax2 {
    background-image: url(../imgs/peca-teatro4.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20%;
    text-align: center;
}

.parallax2 h1 {
    font-size: 72px;
}

.parallax2 p {
    font-size: 24px;
}

.parallax3 {
    background-image: url(../imgs/peca-teatro2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20%;
    text-align: center;
}

.parallax3 h1 {
    font-size: 72px;
}

.parallax3 p {
    font-size: 24px;
}

.card-info {
    background-image: linear-gradient( #86BBD8, #86BBD8, #86BBD8, #33658A);
}

.btn-color {
    background-color: #F26419;
}

.fotos {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.primeiraLinha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.primeiraLinha img {
    width: 20%;
}

.title-espetaculos {
    background-image: linear-gradient( #33658A, #86BBD8);
    padding-bottom: 1%;
    padding-top: 1%;
}

.title-espetaculos h1 {
    font-size: 48px;
    text-align: center;
}