html,
body {
    font-family: 'Raleway', sans-serif;
}

.parallax1 {
    background-image: url(../imgs/peca-teatro1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    padding: 20%;
    text-align: center;
}

.parallax1 h1 {
    font-size: 72px;
}

.parallax1 p {
    font-size: 24px;
    font-weight: 400;
}

.produtosHome {
    width: 100%;
    padding: 5% 10% 5% 10%;
    background-image: linear-gradient(to right, #1d434e, #86BBD8, #86BBD8, #1d434e);
}

.tituloProdutosHome {
    display: flex;
    justify-content: center;
}

.tituloProdutosHome h2 {
    color: white;
    font-size: 42px;
}

.textoCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoCarousel h5 {
    font-size: 32px;
}

.textoCarousel p {
    font-size: 24px;
}

.parallax2 {
    background-image: radial-gradient(#86BBD8, #86BBD8, #1d434e);
    background-attachment: fixed;
    color: white;
    padding: 20%;
    text-align: center;
    width: 100%;
}

.parallax2 h1 {
    font-size: 72px;
}

.parallax2 p {
    font-size: 24px;
    font-weight: 400;
}

.parallax3 {
    background-image: url(../imgs/peca-teatro2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20%;
    text-align: center;
    width: 100%;
}

.parallax3 h1 {
    font-size: 72px;
}

.parallax3 p {
    font-size: 24px;
    font-weight: 400;
}

.conteudo {
    position: relative;
    opacity: 0;
}

.acao {
    opacity: 1;
    animation-name: texto-parallax;
    animation-duration: 1.5s;
}

@media (max-width:800px) {
    .parallax1 p {
        font-size: 30px;
    }
    .parallax2 p {
        font-size: 30px;
    }
    .parallax3 p {
        font-size: 30px;
    }
}

@keyframes texto-parallax {
    0% {
        opacity: 0;
        transform: translate(100px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}