<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark navbar-color">
        <a class="navbar-brand" href="#">
            <img src="imgs/Felipe_Peças.png" width="150">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Toggle navigation">
            <spam class="navbar-toggler-icon"></spam>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav navFont">
                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Início</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Espetáculos</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Quem Somos</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Contatos</a>

                </li>

            </ul>
            <div class="navbar-nav ml-auto">
                <button type="button" class="ml-4 mr-4 align-self-center linkLogin" data-toggle="modal"
                    data-target="#myModal">Login</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header titulo-modal">
                                <button type="button" class="close fechar" data-dismiss="modal">&#9747;</button>
                                <h3 class="modal-title">Login</h3>
                                <hr>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="text" class="form-control" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="senha">Senha:</label>
                                        <input type="password" class="form-control" id="senha" required>
                                    </div>
                                    <div class="botao" tabindex="0">
                                        <button type="submit" class="btn btn-primary botaoModal">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </nav>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>