<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Quem Somos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/styleQS.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body>
    <div class="parallax1">
        <nav class="navbar navbar-expand-xl navbar-dark navbar-color">
            <a class="navbar-brand" href="#">
                <img src="img/Felipe_Pecas.png" width="200">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <spam class="navbar-toggler-icon"></spam>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav navFont">
                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Início</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Espetáculos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Quem Somos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Contatos</a>

                    </li>

                </ul>
                <div class="navbar-nav ml-auto">
                    <button type="button" class="ml-4 mr-4 align-self-center linkLogin" data-toggle="modal"
                        data-target="#myModal">Login</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header titulo-modal">
                                    <button type="button" class="close fechar" data-dismiss="modal">&#9747;</button>
                                    <h3 class="modal-title">Login</h3>
                                    <hr>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="text" class="form-control" id="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="senha">Senha:</label>
                                            <input type="password" class="form-control" id="senha" required>
                                        </div>
                                        <div class="botao" tabindex="0">
                                            <button type="submit" class="btn btn-primary botaoModal">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </nav>

        <div class="container main">
            <div class="titulo-imagem">
                <h1>Quem Somos</h1>
                <hr>
            </div>
            <div class="texto-imagem">
                <h4 class="texto">
                    <p class="texto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie gravida sem sit amet
                        tempus.
                        Aliquam id quam metus. Praesent odio lorem, mollis sit amet dolor sed, eleifend lacinia augue.
                        Proin
                        dui
                        velit, ullamcorper id pharetra a, malesuada in ante. Quisque a viverra nunc. Sed a ullamcorper
                        libero,
                        id sodales ex. Cras vestibulum metus eu nulla faucibus pretium. Cras tincidunt dui eu ex
                        vulputate
                        eleifend. Praesent at dolor sed orci aliquam eleifend ut ut lacus. Duis luctus accumsan dui, et
                        tristique odio mollis non. Nunc posuere imperdiet ipsum eget suscipit. Quisque laoreet hendrerit
                        ante
                        eget maximus. Praesent ut facilisis nisl.
                    </p>
                </h4>
                <hr>
                <br>
            </div>
            <div class="titulo-imagem">
                <h2>Nossa Missão</h2>
                <hr>
            </div>
            <div class="texto-imagem">
                <h4 class="texto">
                    <p class="texto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar purus cursus, iaculis
                        urna
                        sit amet, euismod quam. Donec sed dictum nunc. Etiam id mauris.
                    </p>
                </h4>
                <hr>
                <br>
            </div>
            <div class="titulo-imagem">
                <h2>Nossos Valores e Visões</h2>
                <hr>
            </div>
            <div class="texto-imagem">
                <h4 class="texto">
                    <p class="texto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet justo non lectus
                        fermentum,
                        ut lobortis purus fringilla. Praesent nisi lacus, ullamcorper nec dui vitae.
                    </p>
                </h4>
                <br><br>
            </div>

        </div>

    </div>
    <div class="row container main">
        <div class="container container-fotos col-sm-4">
            <img src="img/foto1.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
        <div class="container container-fotos col-sm-4">
            <img src="img/foto2.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
        <div class="container container-fotos col-sm-4">
            <img src="img/foto3.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
        <div class="container container-fotos col-sm-4">
            <img src="img/foto4.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
        <div class="container container-fotos col-sm-4">
            <img src="img/foto5.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
        <div class="container container-fotos col-sm-4">
            <img src="img/foto6.jpg" alt="Fulano" class="image">
            <div class="overlay">
                <div class="text-card">Fulano de Tal</div>
                <div class="text-card-info">Função do Fulano</div>
            </div>
        </div>
       
    </div>


    <div class="footer">
        <div class="copyright">
            <p>@copyright Code Jr</p>
        </div>
        <div class="redes">
            <ul>
                <li>
                    <a href="#"><img src="img/facebook.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="img/instagram.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="img/twitter.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="img/youtube.png" width="30"> </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>