.navFont {
    font-size: 30px;
    animation-name: navbar-top;
    animation-duration: 1.5s;
}

.navFont a {
    color: white !important;
}

.navFont a:hover {
    color: #F6AE2D !important;
}

.linkLogin {
    position: relative;
    padding: 10px;
    border-radius: 30%;
    text-align: center;
    background: transparent;
    border: 0;
    right: 0;
    color: white;
}

.navbar-color {
    position: relative;
    background: transparent;
    width: 100%;
}

.titulo-modal {
    background-color: #F6AE2D;
    padding-left: 40%;
}

.titulo-modal h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.fechar {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 48px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Relaway', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba (0, 0, 0, .3);
}

.modal-body {
    padding: 7%;
}

@keyframes navbar-top {
    0% {
        opacity: 0;
        margin-left: 10%;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

.botaoModal {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background: #F6AE2D;
    border: none;
    margin: 0 auto;
    display: block;
}

.botaoModal:hover {
    color: black;
    background: #F6AE2D !important;
    outline: none;
    border: none;
}

.botaoModal:focus {
    color: black;
    background: #F26419 !important;
    outline: none;
    border: none;
}

.botaoModal:active {
    color: black;
    background: #F26419 !important;
    outline: none;
    border: none;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.modal.fade {
    animation-name: modal;
    animation-duration: 1s;
}

.parallax1 {
    background-image: url(../img/teatro1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.parallax1 h1 {
    font-size: 72px;
    color: white;
}

.parallax1 p {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.parallax2 {
    background-color: #86BBD8;
    color: black;
    width: 100%;
    text-align: center;
}

.parallax2 h1 {
    font-size: 72px;
}

.parallax2 p {
    font-size: 24px;
    font-weight: 400;
}

.produtosHome {
    width: 100%;
    background-color: white;
}

.transicao {
    width: 100%;
    background-image: linear-gradient(#86BBD8, #1d434e, black);
    height: 80px;
}

.transicaoFinal {
    width: 100%;
    background-image: linear-gradient( black, #1d434e, #86BBD8);
    height: 80px;
}

.textoCarousel {
    animation-name: texto-parallax;
    animation-duration: 1s;
}

.textoCarousel h5 {
    font-size: 32px;
}

.textoCarousel p {
    font-size: 24px;
}

.descricao {
    display: none;
}

.mostraTexto {
    position: relative;
    display: block;
    animation-name: descricao-slide;
    animation-duration: 0.5s;
}

.conteudo {
    padding: 15%;
    position: relative;
    opacity: 0;
}

.acao {
    opacity: 1;
    animation-name: texto-parallax;
    animation-duration: 1s;
    text-align: center;
}

@media (max-width:1000px) {
    .parallax1 p {
        font-size: 30px;
    }
    .parallax2 p {
        font-size: 30px;
    }
    .parallax3 p {
        font-size: 30px;
    }
    .textoCarousel p {
        display: none;
    }
    .textoCarousel a {
        display: none;
    }
}

@keyframes texto-parallax {
    0% {
        opacity: 0;
        transform: translate(100px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes descricao-slide {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.contatoBotao {
    text-align: center !important;
    background: transparent;
    border: none !important;
    color: white;
}

.parallax1 p {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.parallax2 {
    background-color: #86BBD8;
    color: black;
    width: 100%;
    text-align: center;
}

.parallax2 h1 {
    font-size: 72px;
}

.parallax2 p {
    font-size: 24px;
    font-weight: 400;
}

.produtosHome {
    width: 100%;
    background-color: white;
}

.transicao {
    width: 100%;
    background-image: linear-gradient(#86BBD8, #1d434e, black);
    height: 80px;
}

.transicaoFinal {
    width: 100%;
    background-image: linear-gradient( black, #1d434e, #86BBD8);
    height: 80px;
}

.textoCarousel {
    animation-name: texto-parallax;
    animation-duration: 1s;
}

.textoCarousel h5 {
    font-size: 32px;
}

.textoCarousel p {
    font-size: 24px;
}

.descricao {
    display: none;
}

.mostraTexto {
    position: relative;
    display: block;
    animation-name: descricao-slide;
    animation-duration: 0.5s;
}

.conteudo {
    padding: 15%;
    position: relative;
    opacity: 0;
}

.acao {
    opacity: 1;
    animation-name: texto-parallax;
    animation-duration: 1s;
    text-align: center;
}

@media (max-width:1000px) {
    .parallax1 p {
        font-size: 30px;
    }
    .parallax2 p {
        font-size: 30px;
    }
    .parallax3 p {
        font-size: 30px;
    }
    .textoCarousel p {
        display: none;
    }
    .textoCarousel a {
        display: none;
    }
}

@keyframes texto-parallax {
    0% {
        opacity: 0;
        transform: translate(100px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes descricao-slide {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d434e;
    color: white;
    padding-top: 1%;
    position: relative;
}

.redes {
    margin-right: 5%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.redes li {
    display:inline-flex;
}

.copyright {
    
    margin-left: 5%;
}
.alinhamento{
    display:flex;
    height:100vh;
    flex-direction:column;
}

.cont{
    flex:1;
}

.linkMenuAlter{
    text-decoration: none;
    color:black;
}

.titulo-imagem {
    text-align: center;
}

.titulo-imagem h1{
    font-family: 'Raleway', sans-serif;

    font-size: 60px;
    font-weight: 600;
    color: white ;

    animation-name: deslize;
    animation-duration: 3s;
}

.titulo-imagem h2{
    font-family: 'Raleway', sans-serif;

    font-size: 42px;
    font-weight: 700;
    color: white !important;
    margin-top: 1%;
    margin-bottom: 1%;

    animation-name: deslize;
    animation-duration: 3s;
}

.texto {
    font-family: 'Raleway', sans-serif;

    text-align: justify;
    color: #e0dcdc !important;
    font-weight: 300;
    font-size: 24px;

    animation-name: fade;
    animation-duration: 4s;
}

.main {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin: 0 auto;
}

.fotos {
    border: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.container-fotos {
    width: 50%;
    margin-bottom: 1%;
    margin-top: 2%;

    animation-name: fade;
    animation-duration: 6s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 96.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d434e;
    margin-right: -3.5%;
}

.container-fotos:hover .overlay {
    opacity: 0.8;
}

.text-card {
    font-family: 'Raleway', sans-serif;

    color: #F6AE2D;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-card-info {
    font-family: 'Raleway', sans-serif;

    color: white;
    font-size: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.tabela{
    width:100%;
    padding:10px;

}

.linha{
    padding:10px;

}

.tituloTabela{
    padding: 10px;
    font-size:20px;
    text-align:center;
    border:1px solid black;

}

.conteudoTabela{
    padding:10px;
    border:1px solid black;
    font-size:16px;

}

.botoes{
    text-align:center;
}
.cardback{
    background:white;
    
}
.cardback a{
    text-decoration: none;
    color:black;
    transition: 0.2s;
}

.cardback a:hover{
    background:#F6AE2D;
    color:white;
}

