/* .containerSis{
	background-color:rgb(211, 211, 211);
} */

.base-home{
	width:80%;
	margin:auto;	
} 

.tituloSis{
	text-align: center;
		margin-top:2%;
}
.linhacb{
	text-align: center;
}

.tabelaIndex{
	text-align: center;
}

.formBotoes{
	padding-bottom:1%;
}

.formularioEsp{
	margin:auto;
	width:80%;
}
