
.portBody{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	animation-name: inicio;
    animation-duration: 6s;
}

.portTitulo {
    text-align: center;
    font-size: 400%;
    font-weight: 600;
    color: #33658A;
    margin:3% 0 1% 0;
}

.portCarrosselDest{
	position:absolute;
	background-color:rgba(0,0,0,0);
	text-align: center;
	font-size: 200%;
    color: white;
    top:95%;/*Só pra ver q tá lá a div*/
}

.portCarrossel{
	position: relative;
	background-color:rgba(0,0,0,1);
	width:70%;
	margin:auto;
	margin-bottom:3%;
}

.portCarrosselImg{
	/*position:absolute !important;  Não aceita absolute, por isso a div portCarrosselDest está em baixo*/ 
	width:100%;
	height:450px;
	border: 2px solid rgba(242, 100, 25, 0.5);  /*#f26419*/
}

.portContainerCards{
	position: relative;
	width:80%;
	margin:auto;
}

.portCard {
    margin:1% 0 0.25% -0; 
    position:relative;
}

.portCardImg {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(242, 100, 25, 0.5);
}

.portDestaque {
    position: absolute;
    top: 0;
    left: 4%;
    height: 100%;
    width: 92%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d434e;
    border: 2px solid rgba(242, 100, 25, 1);
 
}

.portCardInfo {
    color: #F6AE2D;
    font-size: 110%;
    text-transform: uppercase; /*Letra maiuscula*/
    position: absolute;
    top: 70%;
    left:35%;
    margin-bottom:2%;
    text-align: center; 
}

.portCardInfo2 {
    color: white;
    font-size: 100%;
    position: absolute;
    top: 80%;
    left: 35%;
    text-align: center;
}  

.portCarrossel:hover .portCarrosselImg{
	border:2px solid rgba(242, 100, 25, 1);
}

.portCard:hover .portDestaque{
    opacity: 0.8; 
}


@keyframes inicio {
    0%{opacity: 0}
    50% {opacity: 0.6}
    100%{opacity: 1;}
}