
.portcontainerdest{
padding: 0px !important;
}

.portdest{
  position:absolute;
  width: 102%;
  height:100%;
  left:-1%;
  border-bottom-style: solid;
  border-width: 8px;
  border-color: #1d434e;
}

.textodest{
  background-color: rgba(1, 1, 1, 0);
  width:40%;
  text-align: center;
}

.textonomepecadest{
  font-size:250%;
  color:white;
  position: absolute;
  bottom:9%;
  animation: portiniciotexto;
  animation-duration: 2s;
  opacity: 1;
  padding-left: 10%;
}

.portnomepeca{
  width:100%;
  height:20%;
  position: absolute;
  background-color: #1d434e;
  animation: portinicio;
  animation-duration: 2s;
  opacity: 0.5;
  bottom:0%;
}

.textonomepeca{
  font-size:160%;
  color:white;
  position: absolute;
  left:3%;
  bottom:10%;
  animation: portiniciotexto;
  animation-duration: 2s;
  opacity: 1;
}

.portinfo{
  width:30%;
  position: absolute;
  bottom: 0%;
  left:-30%;
  opacity: 0;
}


.port{
  border:none !important;
}

.port:hover .portinfo {
  animation:portdestaqueinfo;
  animation-duration: 2s;
  animation-delay: -0.5s;
  opacity: 1;
  left:67%;
  bottom:3%;
}
.port:hover .portnomepeca {
  animation:portdestaque;
  animation-duration: 2s;
  height:25%;
}

.port:hover .textonomepeca {
  animation:portdestaquenome;
  animation-duration: 2s;
  bottom: 15%;
}


@keyframes portinicio {
    0% {
        opacity: 0; height:0%;
    } 50% {
        opacity: 0.5; height:12%;
    } 100% {
        opacity: 0.5; height:20%;
    }
}

@keyframes portiniciotexto {
    0% {
        opacity: 0;bottom: 0%;
    } 50%{
        opacity: 0.5;bottom:2%;
    } 75% {
        opacity: 1;
    } 100% {
        opacity: 1;bottom: 9%; 
    }
}


@keyframes portdestaque {
    0% {
      height: 20%;
    } 100% {
       height:25%;
    }
}

@keyframes portdestaqueinfo {
    0% {
      opacity: 0;left:-30%;
    } 50% {
      opacity: 0;left:0%;
    } 100% {
      opacity: 1;left:67%;
    }
}

@keyframes portdestaquenome {
    0% {
      bottom:10%;
    } 100% {
      bottom:15%;
    }
} 
