
.portBody{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	animation-name: inicio;
    animation-duration: 6s;
}

.portTitulo {
    text-align: center;
    font-size: 400%;
    font-weight: 600;
    color: #33658A;
    margin:1% 0 1% 0;
}

.portCarrosselDest{
	position:absolute;
	background-color:rgba(0,0,0,0);
	text-align: center;
	font-size: 200%;
    color: white;
    top:95%;/*Só pra ver q tá lá a div*/
}

.portCarrossel{
	position: relative;
    width:70%;
	margin:auto;
	margin-bottom:3%;
}

.portCarrosselImg{
	/*position:absolute !important;  Não aceita absolute, por isso a div portCarrosselDest está em baixo*/ 
	width:100%;
	height:450px;
	border: 2px solid rgba(51, 100, 138, 0.65);  /*#f26419*/
}

.portContainerCards{
	position: relative;
	width:90%;
	margin:auto;
}

.portCard {
    margin:1% 0 0.25% -0; 
    position:relative;
}

.portCardImg {
    display: block;
    width: 105%;
    height: 100%;
    border: 2px solid rgba(51, 100, 138, 0.65); /*#33648a*/
}

.portDestaque {
    position: absolute;
    top: 0;
    left: 3.5%;
    height: 100%;
    width: 97.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d434e;
    border: 2px solid rgba(242, 100, 25, 1);
 
}

.portCardInfo { 
    background-color: rgba(0,0,0,0);
    border:2px solid white !important;
    opacity: 0;
    position: absolute;
    width:30%;
    color: #F6AE2D;
    font-size: 110%;
    text-transform: uppercase; /*Letra maiuscula*/
    top: 70%;
    left:35%;
    margin-bottom:2%;
    text-align: center; 
}
 
.portModal{
    background-image: linear-gradient(to right, #1d434e, #1d434e, #86BBD8) !important;
    color:white !important;
}

.portModalHead{
    border-bottom: 2px solid #F6AE2D !important;
    text-transform: uppercase !important;
}

.portModalBody{
    background-color: white;
    color:black;
    text-align:center;
    font-size:110%;
}

.portModalFooter{
    border-top: 2px solid #F6AE2D !important;
}


.portCarrossel:hover .portCarrosselImg{
	border:2px solid rgba(242, 100, 25, 1);
}

.portCard:hover .portDestaque{
    opacity: 0.8; 
}

.portCard:hover .portCardInfo{
    opacity: 1; 
}


@keyframes inicio {
    0%{opacity: 0}
    50% {opacity: 0.6}
    100%{opacity: 1;}
}

@media screen and (max-width: 800px) {

    .portTitulo{
        font-size: 200%;
    }

    .portContainerCards{
        right:2%;
        width:85%;
    }

    .portDestaque {
        left:4%;
        width: 96.5%;
    }

    .portCardInfo {
        font-size: 100%;
        top: 70%;
        left:38%;
    }

    .portCarrossel{
        width:90%;
        margin-bottom:20%;
    }


}