<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> contatos </title>
        <link rel="stylesheet" href="css/styles.css.css">
        

    </head>
    <body>
        
            
            <div class="navigation">
                    <h1>Felipe Peças</h1>
                    <h2>Home>Contato</h2>
                    
            
                </div>



            <form>



                <div class="content">
                    <label for="exampleInputNome1">Nome</label>
                    <input type="Name" class="form-control" id="exampleInputNome1"  placeholder="Insira seu Nome">
                    
                  </div>


                    <div class="content">
                      <label for="exampleInputEmail1">Endereço de email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu email">
                      <small id="emailHelp" class="form-text text-muted"> </small>
                    </div>

                    <div class="content">
                      <label for="exampleInputNumber1">Telefone</label>
                      <input type="tel" class="form-control" id="exampleInputphone1" placeholder="Insira o seu número de telefone">
                    </div>
                    
                   

                    <div class="content_mensagem">
                        <label for="exampleInputMensagem1">Mensagem</label>
                        <textarea class="form-control" aria-label="Escreva aqui sua mensagem"    placeholder="Escreva aqui sua mensagem" ></textarea> 
                        
                      </div>
                 
                    <button class="botão botão-azul">Enviar</button>
                  </form>
                  
    
          
        
    </body>

</html>