<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body>

    <div class="footer">
        <div class="copyright">
            <p>@copyright Code Jr</p>
        </div>
        <div class="redes">
            <ul>
                <li>
                    <a href="#"><img src="imgs/facebook.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/instagram.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/twitter.png" width="30"> </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/youtube.png" width="30"> </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>