<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark navbar-color">
        <a class="navbar-brand" href="#">
            <img src="imgs/Felipe_Peças.png" width="150">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <spam class="navbar-toggler-icon"></spam>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav navFont">
                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Início</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Espetáculos</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Quem Somos</a>

                </li>

                <li class="nav-item mr-3 ml-3">

                    <a class="nav-link text-center" href="#">Contatos</a>

                </li>

            </ul>
            <div class="navbar-nav ml-auto">

                <div class="ml-4 mr-4 align-self-center button">
                    <a class="button-login" href="#">Login </a>
                </div>

            </div>

        </div>

    </nav>

    <script src="jquery/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>