<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-xl navbar-dark" style="background-color:#1d434e">
            <a class="navbar-brand" href="#">
                <img src="imgs/Felipe_Peças.png" width="200" >
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <spam class="navbar-toggler-icon"></spam>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav navFont">
                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Início</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Espetáculos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Quem Somos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3">

                        <a class="nav-link text-center" href="#">Contatos</a>

                    </li>

                    <li class="nav-item mr-3 ml-3 dropdown">

                        <a class="nav-link text-center dropdown-toggle" href="#" id="social" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social</a>

                        <div class="dropdown-menu" aria-labelledby="social">

                            <a class="dropdown-item" href="#" ><img src="imgs/facebook.png" width="30"> Facebook</a>
                            <a class="dropdown-item" href="#" ><img src="imgs/instagram.png"width="30"> Instagram</a>
                            <a class="dropdown-item" href="#" ><img src="imgs/twitter.png"width="30"> Twitter</a>
                            <a class="dropdown-item" href="#" ><img src="imgs/youtube.png"width="30">YouTube</a>

                        </div>

                    </li>
                    
                    <li class="nav-item mr-3 ml-3">

                            <a class="nav-link text-center" href="#">Login</a>
    
                    </li>
                </ul>
            </div>

        </nav>

        <script src="jquery/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>